[Unit]
Description=Launch InvenioRDM Celery Task

[Service]
Type=simple
User=ubuntu
StandardOutput=kmsg
StandardError=kmsg
WorkingDirectory=/Sites/caltechthesis
EnvironmentFile=/Sites/caltechthesis/.env
ExecStart=/snap/bin/uv run --frozen --no-dev --no-sync celery --app invenio_app.celery worker --beat --events --loglevel INFO

[Install]
WantedBy=multi-user.target
